*_h.txt
*_mm.txt
Algorithms.xcodeproj/project.xcworkspace/xcuserdata/scarter.xcuserdatad/UserInterfaceState.xcuserstate
Algorithms.xcworkspace/xcuserdata/scarter.xcuserdatad/UserInterfaceState.xcuserstate
Pods/
